@model IEnumerable<Book>

<div class="container">
    <header>
        <div class="main row pb-2">
            <h2 class="text-primary text-center">لیست کتاب ها ...</h2>
        </div>
        <div class="row mt-4 pb-4">
            <div class="col-11">
                <input class="form-control text-primary shadow" id="search-box" placeholder="کتاب مورد نظر خود را جستجو کنید">
            </div>
            <div class="col-1">
                <button class="btn btn-primary form-control btn-group" id="btn-search"><i class="bi bi-search"></i></button>
            </div>
        </div>
        <hr />
        <br />
    </header>

    <div class="row">
        @foreach (Book book in Model)
        {
            <div class="col-md-4">
                <div class="card mb-5 box-shadow round navigation-box">
                    <img class="card-img-top img-cover" src="@book.CoverImage" alt="@book.Title">
                    <div class="card-body">
                        <p>
                            <small><i class="bi bi-person-fill-check"></i>&nbsp&nbsp&nbspنام نویسنده : @book.Author</small>
                        </p>
                        <p>
                            <small><i class="bi bi-file-earmark-arrow-up-fill"></i>&nbsp&nbsp&nbspمنتشر : @book.Publisher</small>
                        </p>
                        <p>
                            <small><i class="bi bi-calendar"></i>&nbsp&nbsp&nbspتاریخ انتشار : @book.ReleaseTime.ConvertToShamsi()</small>
                        </p>
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <div class="btn-group">
                                <a href="@book.DownloadLink" target="_blank" class="btn btn-sm btn-outline-secondary navigation-btn">
                                    دانلود<br />
                                    <i class="bi bi-cloud-arrow-down-fill"></i>
                                </a>
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-sm btn-outline-secondary navigation-btn">مشاهده جزئیات</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>