@model List<object>

@{
    ViewData["Title"] = "صفحه اصلی";
    List<Blog> blogs = new List<Blog>();
    List<Book> books = new List<Book>();
    List<Seminar> seminars = new List<Seminar>();

    foreach (var x in Model)
    {
        if (x is Blog)
            blogs.Add((Blog)x);
        else if (x is Book)
            books.Add((Book)x);
        else if (x is Seminar)
            seminars.Add((Seminar)x);
    }
}
<div class="container">
    <div class="main row mb-4">
        <h1 class="text-center mt-2 mb-4 word"></h1>
        <hr />
        <div class="col-md-4">
            <div class="round card mb-4 box-shadow navigation-box">
                <img class="card-img-top img-cover" src="~/images/blogHome.png" alt="بلاگ">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <a asp-controller="Blog" asp-action="Index" class="btn btn-sm btn-outline-primary navigation-btn">رفتن  به بلاگ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="round card mb-4 box-shadow navigation-box">
                <img class="card-img-top img-cover" src="~/images/bookHome.png" alt="کتاب">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <a asp-controller="Book" asp-action="Index" class="btn btn-sm btn-outline-primary navigation-btn">رفتن  به کتاب ها</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="round card mb-4 box-shadow navigation-box">
                <img class="card-img-top img-cover" src="~/images/seminarHome.png" alt="سمینار">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <a asp-controller="Seminar" asp-action="Index" class="btn btn-sm btn-outline-primary navigation-btn">رفتن  به سمینار ها</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr />

    <div class="row mt-2 mb-4">
        <h3>بلاگ های منتشر شده :</h3>
        @foreach (Blog blog in blogs)
        {
            <div class="col-md-4">
                <div class="round card mb-4 box-shadow blog-stand">
                    <img class="round card-img-top img-cover" src="@blog.CoverImage" alt="@blog.Title">
                    <div class="card-body p-3">
                        <p class="card-title">@blog.Title</p>
                        <small class="text-muted">@blog.BlogText.Substring(0, 100)...</small>
                        <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">مشاهده</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">ذخیره برای بعد</button>
                            </div>
                        </div>
                        <small class="text-muted"><i class="bi bi-calendar"></i> تاریخ انتشار  : @blog.ReleaseTime.ConvertToShamsi()</small>
                    </div>
                </div>
            </div>
        }
    </div>

    <hr />

    <div class="row mt-2 mb-4">
        <h3>کتاب های موجود :</h3>
        @foreach (Book book in books)
        {
            <div class="col-md-3 mt-3 navigation-box">
                <div class="round card mb-4 box-shadow box-book-stand">
                    <img class="round card-img-top img-cover" id="book-stand" src="@book.CoverImage" alt="@book.Title">
                    <div class="card-body">
                        <p><small>نام نویسنده : @book.Author</small></p>
                        <p><small>منتشر : @book.Publisher</small></p>
                        <p><small>تاریخ انتشار : @book.ReleaseTime.ConvertToShamsi()</small></p>
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <div class="btn-group">
                                <a href="@book.DownloadLink" target="_blank" class="btn btn-sm btn-outline-secondary">دانلود</a>
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-sm btn-outline-secondary">مشاهده جزئیات</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <hr />

    <div class="row mt-2 mb-4">
        <h3>سمینار های در حال برگذاری :</h3>
        @foreach (Seminar seminar in seminars)
        {
            <div class="col-md-4">
                <div class="round card mb-4 box-shadow navigation-box">
                    <img class="round card-img-top img-cover" src="@seminar.CoverImage" alt="@seminar.Title">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Seminar" asp-action="Details" asp-route-id="@seminar.Id">مشاهده و تهیه بلیط</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary"> مشاهده رزومه مدرس</button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <p><small class="text-muted"><i class="bi bi-person-fill-check"></i> مدرس : @seminar.Teacher  </small></p>
                            <p><small class="text-muted"><i class="bi bi-cash-coin"></i> قیمت بلیط : @seminar.Price</small></p>
                            <p><small class="text-muted"><i class="bi bi-calendar"></i> تاریخ شروع  : @seminar.ReleaseTime.ConvertToShamsi()</small></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>